body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */

.header {
  background-color: darkslategray;
}

.container {
  width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #28a745;
}

.logo-Ledger {
  color: #ffffff;
}

.nav-link {
  display: block;
  padding: 21px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.nav-list {
  display: flex;
  gap: 38px;
}
